#Ignore all files and folders.
/*

[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/

#Except the Assets and ProjectSettings folder, as well as the selected Git files.
!/Assets/
!/ProjectSettings/
!.gitignore
!.gitattributes